# Demyx
# https://demyx.sh

set $demyx_session 0;

if ($http_cookie ~* "wp_woocommerce_session_[^=]*=([^%]+)%7C") {
    set $demyx_session wp_woocommerce_session_$1;
}

if ($skip_cache = 0) {
    more_clear_headers "Set-Cookie*";
    set $demyx_session "";
}

fastcgi_cache_key "$scheme$request_method$host$request_uri$demyx_session";
